body {
  background-color: teal;
}

.article-box {
  border: 2px solid black;
}

#notes-modal {
  display: none;
  position: fixed;
  margin-left: 200px;
  background-color: grey;
}
#close {
  float: left;
}